@import "./taxi-viewer.component";
@import "../../theme";

.title-bar {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 8px 8px 16px;
  font-size: 0.8rem;
  color: $whiteish;
  font-weight: 700;
  display: flex;
  align-items: center;

  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  div.expand-only {
    transition: opacity 0.3s;
    &.panel-hidden {
      opacity: 0;
    }
  }
}

.expand-wrapper {
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 10000px;
  &.panel-hidden {
    max-height: 0;
  }
}

i {
  transition: transform 0.3s ease-in-out;
  &.panel-hidden {
    transform: rotate(180deg);
  }
}
