<div class="container">
  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
  <div class="toolbar section-header" (click)="expanded = !expanded">
    <span>Query</span>
    <div class="spacer"></div>
    <mat-icon class="play-button" (click)="submitQuery($event)">play_arrow</mat-icon>
    <mat-icon class="expand-button" [ngClass]="expanded ? '' : 'panel-hidden'">expand_less</mat-icon>
  </div>
  <div class="content" [ngClass]="expanded ? '' : 'panel-hidden'">
    <app-code-container name="Taxi" [content]="taxi" lang="typescript"
                        [expanded]="taxiComponentExpanded"></app-code-container>
    <app-vyne-query-viewer [targetType]="targetType" [facts]="facts"
                           [schema]="schemaWithTaxi?.schema"
                           [queryMode]="queryMode"
                           [expanded]="vyneQueryExpanded"
    ></app-vyne-query-viewer>
    <div class="result-container" *ngIf="queryResult">
      <div class="section-header">
        <span>Result</span>
      </div>
      <app-code-container name="Json" [content]="result" lang="json"></app-code-container>
      <app-call-explorer [queryResult]="queryResult"></app-call-explorer>
    </div>
  </div>
</div>
