@import "../../theme";

.spacer {
  flex-grow: 1;
}

.section-header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: $whiteish;
  font-weight: 700;
  padding: 8px 8px 8px 16px;

}

.container {
  background-color: $code-bg;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  .toolbar {

    .play-button {
      color: $vyne-green;
      margin-right: 20px;
      &:hover {
        color: lighten($vyne-green, 20%)
      }
    }

    .expand-button {
      transition: transform 0.3s ease-in-out;
      &.panel-hidden {
        transform: rotate(180deg);
      }
    }


    &:hover {
      background-color: rgba(black, 0.4);
      cursor: pointer;
    }
  }

  .content {
    transition: max-height 0.3s;
    max-height: 10000px;
    &.panel-hidden {
      max-height: 0;
    }
  }
}

.run-container {
  position: absolute;
  right: 10px;
  margin-top: 5px;

  i {

  }
}
