@import "../../../theme";

.container {
  display: flex;
  background-color: rgba(black,0.2);
}

.operation-list {
  flex-grow: 1;
  //padding: 20px 0;
  background-color: rgba(black,0.1);
  overflow: hidden;
  width: 250px;
  min-width: 250px;

  .header {
    padding: 10px 20px;
    background-color: rgba(255,255,255, 0.05);
    color: $whiteish;
    .table-header {
      font-size: 18px;
    }
    .table-subheader {
      font-size: 14px;
    }
  }
}

.operation {
  color: $whiteish;
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    background-color: rgba(white,0.1);
  }
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}

.verb {
  font-family: $mono;
  margin-right: 18px;
  padding: 3px 6px;
  background-color: rgba(white,0.15);
  border-radius: 4px;
  color: white;
}

.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
app-operation-view {
  flex-grow: 10;
}

app-sequence-diagram {
  width: 100%;
}
