<div class="operation-view">
  <div class="summary-container">
    <div class="name-and-status">
      <h3 class="operation-name">{{ operation.service.name}}.{{ operation.operation }}()</h3>
      <div class="response-code-line">
        <span class="result" [ngClass]="statusTextClass">{{statusText}} {{ operation.resultCode }}</span>
        <span class="duration">Time {{ operation.durationMs }}ms</span>
      </div>
    </div>
    <div>
      <span class="verb">{{ operation.method }}</span>
      <span class="address">{{ operation.addresss }}</span>
    </div>

  </div>
  <app-code-container lang="json" *ngIf="operation.requestBody" [content]="operation.requestBody" name="Request"></app-code-container>
  <app-code-container lang="json" *ngIf="operation.response" [content]="operation.response" name="Response"></app-code-container>
</div>
