@import "~@angular/material/theming";
@import "theme";

/**
* Mimicking VS Dark+ theme as closely as possible
*/
@mixin vyne-highlight-theme() {
  td-highlight {
    background: $code-bg;
    font-family: $mono;
    .highlight {
      color: mat-color($mat-grey, 50);

    }

    .hljs-comment,
    .hljs-quote {
      color: #608b4e;
    }

    .hljs-tag,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-literal {
      color: #569cd6;
    }

    .hljs-keyword {
      color: #c288bf;
    }

    .hljs-attr,
      //.hljs-params, // Remove param color for now
    .hljs-attribute {
      color: #9cdcfe;
    }

    .hljs-string,
    .hljs-selector-attr,
    .hljs-regexp,
    .hljs-link {
      color: #ce9178;
    }

    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-selector-pseudo {
      color: #d7ba7d;
    }

    .hljs-meta {
      color: #dcdcaa;
    }

    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-type,
    .hljs-section,
    .hljs-class .hljs-title,
    .hljs-symbol,
    .hljs-bullet {
      color: #4ec9b0;
    }

    .hljs-number {
      color: #b5cea8;
    }

    .hljs-variable,
    .hljs-template-variable {
      color: #9fddfc;
    }

    .hljs-deletion {
      color: #ffc8bd;
    }

    .hljs-addition {
      background-color: #baeeba;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-doctag,
    .hljs-strong {
      font-weight: bold;
    }

    .hljs-formula {
      background-color: #eee;
      font-style: italic;
    }
  }
}
