@import "theme";


$code-font: $mono;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@covalent/core/theming/all-theme';
@import '~@angular/material/theming';


// (optional) Additional themes
//@import '~@covalent/highlight/highlight-theme';
@import "highlight-theme";
@import "grey-green-palette";
@import "autumn-palette";
@import "greens-palette";
//@import "~highlight.js/styles/paraiso-dark.css";
// Plus imports for other components in your app.

$typography: mat-typography-config(
  $font-family: 'Nunito, sans',
  $headline: mat-typography-level(32px, 48px, 300),
  $body-1: mat-typography-level(16px, 24px, 400)
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($typography);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$playground-primary: mat-palette($md-greygreen);
$playground-accent: mat-palette($md-greens, 300, 500, 700);

// The warn palette is optional (defaults to red).
$playground-warn: mat-palette($md-autumn);

// Create the theme object (a Sass map containing all of the palettes).
$playground-theme: mat-light-theme($playground-primary, $playground-accent, $playground-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($playground-theme);
@include covalent-theme($playground-theme, $typography);
/* You can add global styles to this file, and also import other style files */

@include vyne-highlight-theme();

.mat-drawer {
  background-color: $grey-1;
}
.mat-drawer-container {
  background-color: white;
}

html, body { height: 100%; }
body { margin: 65px 0 0 0; font-family: "Nunito", "Helvetica Neue", sans-serif; }

.highlight {
  font-size: $code-font-size;
}
