<div class="code-container">
  <div class="title-bar" (click)="expanded = !expanded">
    <span>Vyne query</span>
    <div class="spacer"></div>
    <div class="language-selector" [ngClass]="expanded ? '' : 'panel-hidden'">
      <div *ngFor="let snippet of snippets" class="snippet-lang" (click)="selectSnippet(snippet,$event)" [ngClass]="classForSnippet(snippet)">{{ snippet.displayLang }}</div>
    </div>
    <div class="spacer"></div>
    <i class="material-icons" [ngClass]="expanded ? '' : 'panel-hidden'">expand_less</i>
  </div>
  <div class="expand-wrapper" [ngClass]="expanded ? '' : 'panel-hidden'">
    <td-highlight [lang]="activeSnippet?.formatterLang"
                  [content]="activeSnippet?.content" *ngIf="activeSnippet">
    </td-highlight>
  </div>
</div>

