@import "../expand-panel";

.language-selector {
  display: flex;
  transition: opacity 0.3s;
  opacity: 1;
  &.panel-hidden {
    opacity: 0;
  }

  .snippet-lang {
    padding: 4px 10px;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.9;
    cursor: pointer;

    &:hover {
      background-color: rgba(black, 0.2);
    }
    &.active {
      color: white;
      opacity: 1;
      border-bottom: 2px solid $vyne-green;
    }
  }
}
