@import "../../theme";

.demo-container {
  margin: 40px 0;
}

:host ::ng-deep ul > li > code,
:host ::ng-deep p > code {
  background-color: darken($grey-1,5%);
  //background-color: rgba(102, 26, 179, 0.1);

  //color: rgb(126, 0, 255);
  color: $color2;
  margin: 0 3px;
  padding: 4px;
  border-radius: 3px;
}

:host ::ng-deep showdown > pre {
  background-color: $code-bg;
  font-size: $code-font-size;
  color: $whiteish;
  padding: 20px 12px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  white-space: pre-wrap;
}

:host ::ng-deep showdown > blockquote {
  padding: 1px 30px 1px 65px;
  border-radius: 6px;
  border-left: 4px solid $vyne-lilac;
  margin: 40px 0;
  background: $grey-1 url("outline-info-24px.svg") no-repeat 20px 28px;
  background-size: 28px;
}
