:host ::ng-deep {
  font-size: 18px;
}

@media(max-width: 840px) {
  .container {
    padding: 0 10px;
  }

}
.container {

  margin: 20px 65px;
  .chapter-container {
    margin-bottom: 20px;
  }
  max-width: 960px;
  margin: auto;
}

//.scrollspy-container {
//  border: 1px solid;
//  position: relative;
//}
//
//.scrollspy-container-inner {
//  position: absolute;
//  top: -64px;
//  bottom: -64px;
//  height: 100%;
//  width: 100%;
//}
