@import "../../theme";
ul {
  margin-right: 40px;
  li {
    list-style-type: none;
    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
      text-decoration: inherit;
      font-weight: inherit;
    }

    a {
      text-decoration: none;
      &:visited {
        color: unset;
      }


      border-left: 1px solid rgba($color2,0.3);
      padding-left: 15px;
      transition: all 0.4s ease-in-out;
      &.active {
        border-left: 3px solid $vyne-purple;
        padding-left: 13px;
        color: $vyne-purple;
        font-weight: 600;
      }
    }

  }
}
