@import "../theme";

.toolbar-container {
  position: fixed;
  height: 65px;
  width: 100%;
  z-index: 999;
  top: 0;
}

.container {
  margin: 20px;
}

.logo {
  width: 32px;
  margin-right: 16px;
}

span.spacer {
  flex-grow: 1;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
  }

  &.logo-link {
    display: contents;
  }

  &.nav-link {
    font-size: 16px;
    margin-right: 20px;
    &:hover {
      color: $blueish;
    }
  }
}
