<div class="toolbar-container">
  <mat-toolbar color="primary">
    <a href="https://vyne.co" class="logo-link">
      <img class="logo" src="assets/vyne-logo-round.png">
    </a>
    <a href="https://vyne.co" class="logo-link">
      <span>Vyne Playground</span>
    </a>
    <span class="spacer"></span>
    <a *ngFor="let link of headerLinks" [href]="link.href" class="nav-link">{{link.title}}</a>
  </mat-toolbar>
</div>
<mat-sidenav-container>
  <mat-sidenav mode="side" fixedInViewport="true" [fixedTopGap]="64" [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
    <app-table-of-contents [chapters]="chapters"></app-table-of-contents>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-guide class="guide" [chapters]="chapters"></app-guide>
  </mat-sidenav-content>
</mat-sidenav-container>

